@model IEnumerable<FptBook.Models.book>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<!-- Start: Shopping Grid --><div class="shopping-grid">
    <div class="container">
        <h3 class="" align="center">Newest Trends</h3>
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid7">
                        <div class="product-image7">
                            <a href="#">
                                <img class="pic-1" src="~/assets/img/@book.image">
                                @*<img class="pic-2" src="~/assets/img/History/71dS9-eHcdL.jpg">*@
                            </a>
                            <ul class="social">

                                <li><a href="@Url.Action("AddtoCart","ShoppingCart", new { id=book.bookID})" class="fa fa-shopping-cart"></a></li>
                            </ul>
                            <span class="product-new-label">New</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">@book.bookName</a></h3>
                            <ul class="rating">
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                            <div class="price">
                                $@book.price
                                <span>$20.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div><!-- End: Shopping Grid -->
